{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='css/login_style.css')}}">
{% endblock %}
{% block title %}Login{% endblock %}
{% block body %}

<div class="container-login">

    <form class="login-form" action="/login" method="post">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}
        <input class="login-form__email" type="email" name="email" placeholder="Enter your email:">
        <input class="login-form__password" type="password" name="password" placeholder="Enter your password:">
        <input class="login-form__submit" type="submit" value="Log in">
    </form>
</div>

{% endblock %}